.Rproj.user
*.doc
*.tex
*.aux
*.idx
*.ilg
*.log
*.out
*.toc
*.ind
*.gpkg
*.rds
*.Rhistory
/R/.Rhistory
/r-package/.Rhistory
/.Rhistory
/man/figures/.Rhistory
/r-package/.Rhistory
/prep_data/.Rhistory
/data-raw/
/data_prep/data
/data_prep/data-raw
/data_prep/_targets
/data_prep/_targets/meta

inst/doc
Meta
/man/figures/Thumbs.db

# Python Ignores
python-package/.venv/
python-package/notebooks/
python-package/build/

*.pyc

# VSCODE
*.vscode
/r-package/.Rhistory
__pycache__
.pytest_cache
.DS_Store

/r-package/.Rhistory
/r-package/.Rhistory

.ipynb_checkpoints

python-package/dist
*.egg-info
python-package/master-README.md
python-package/.coverage
/r-package/prep_data/.Rhistory
/r-package/.Rhistory
/r-package/.Rhistory
/r-package/.Rhistory
