.Rproj.user
*.doc
*.tex
*.aux
*.idx
*.ilg
*.log
*.out
*.toc
*.ind
/R/.Rhistory
/.Rhistory
/man/figures/.Rhistory
/prep_data/.Rhistory
/data-raw/health_services/shapes_in_sf_all_years_cleaned/2015/cnes_sf_2015.rds
/data-raw/health_services/2015/cnes_rawdata_2015.csv
/data-raw/health_services/.Rhistory
