.Rproj.user
*.doc
*.tex
*.aux
*.idx
*.ilg
*.log
*.out
*.toc
*.ind
*.Rhistory
/R/.Rhistory
/.Rhistory
/man/figures/.Rhistory
/r-package/.Rhistory
/prep_data/.Rhistory
/data-raw/health_services/shapes_in_sf_all_years_cleaned/2015/cnes_sf_2015.rds
/data-raw/health_services/2015/cnes_rawdata_2015.csv
/data-raw/health_services/.Rhistory
/data-raw/.Rhistory
/data-raw/historical_state_muni_1872_1991/1872/01_capital_de_imperio_1872.zip
/data-raw/historical_state_muni_1872_1991/1872/02_capital_de_provincia_1872.zip
/data-raw/historical_state_muni_1872_1991/1872/03_sede_municipal_1872.zip
/data-raw/historical_state_muni_1872_1991/1872/04_limite_de_provincia_1872.zip
/data-raw/historical_state_muni_1872_1991/1872/05_malha_municipal_1872.zip
/data-raw/historical_state_muni_1872_1991/1900/01_capital_federal_1900.zip
/data-raw/historical_state_muni_1872_1991/1900/02_capital_estadual_1900.zip
/data-raw/historical_state_muni_1872_1991/1900/03_sede_municipal_1900.zip
/data-raw/historical_state_muni_1872_1991/1900/04_limite_estadual_1900.zip
/data-raw/historical_state_muni_1872_1991/1900/05_malha_municipal_1900.zip
/data-raw/historical_state_muni_1872_1991/1911/01_capital_federal_1911.zip
/data-raw/historical_state_muni_1872_1991/1911/02_capital_estadual_1911.zip
/data-raw/historical_state_muni_1872_1991/1911/03_sede_municipal_1911.zip
/data-raw/historical_state_muni_1872_1991/1911/04_limite_estadual_1911.zip
/data-raw/historical_state_muni_1872_1991/1911/05_malha_municipal_1911.zip
/data-raw/historical_state_muni_1872_1991/1920/01_capital_federal_1920.zip
/data-raw/historical_state_muni_1872_1991/1920/02_capital_estadual_1920.zip
/data-raw/historical_state_muni_1872_1991/1920/03_sede_municipal_1920.zip
/data-raw/historical_state_muni_1872_1991/1920/04_limite_estadual_1920.zip
/data-raw/historical_state_muni_1872_1991/1920/05-malha_municipal_1920.zip
/data-raw/historical_state_muni_1872_1991/1933/01_capital_federal_1933.zip
/data-raw/historical_state_muni_1872_1991/1933/02_capital_estadual_1933.zip
/data-raw/historical_state_muni_1872_1991/1933/03_sede_municipal_1933.zip
/data-raw/historical_state_muni_1872_1991/1933/04_limite_municipal_1933.zip
/data-raw/historical_state_muni_1872_1991/1933/05_malha_municipal_1933.zip
/data-raw/historical_state_muni_1872_1991/1940/01_capital_federal_1940.zip
/data-raw/historical_state_muni_1872_1991/1940/02_capital_estadual_1940.zip
/data-raw/historical_state_muni_1872_1991/1940/03_sede_municipal_1940.zip
/data-raw/historical_state_muni_1872_1991/1940/04_limite_estadual_1940.zip
/data-raw/historical_state_muni_1872_1991/1940/05_malha_municipal_1940.zip
/data-raw/historical_state_muni_1872_1991/1940/06_litigio_1940.zip
/data-raw/historical_state_muni_1872_1991/1950/01_capital_federal_1950.zip
/data-raw/historical_state_muni_1872_1991/1950/02_capital_estadual_1950.zip
/data-raw/historical_state_muni_1872_1991/1950/03_sede_municipal_1950.zip
/data-raw/historical_state_muni_1872_1991/1950/04_limite_estadual_1950.zip
/data-raw/historical_state_muni_1872_1991/1950/05_malha_municipal_1950.zip
/data-raw/historical_state_muni_1872_1991/1950/06_litigio_1950.zip
/data-raw/historical_state_muni_1872_1991/1960/01_capital_federal_1960.zip
/data-raw/historical_state_muni_1872_1991/1960/02_capital_estadual_1960.zip
/data-raw/historical_state_muni_1872_1991/1960/03_sede_municipal_1960.zip
/data-raw/historical_state_muni_1872_1991/1960/04_limite_estadual_1960.zip
/data-raw/historical_state_muni_1872_1991/1960/05_malha_municipal_1960.zip
/data-raw/historical_state_muni_1872_1991/1960/06_litigio_1960.zip
/data-raw/historical_state_muni_1872_1991/1970/01_capital_federal_1970.zip
/data-raw/historical_state_muni_1872_1991/1970/02_capital_estadual_1970.zip
/data-raw/historical_state_muni_1872_1991/1970/03_sede_municipal_1970.zip
/data-raw/historical_state_muni_1872_1991/1970/04_limite_estadual_1970.zip
/data-raw/historical_state_muni_1872_1991/1970/05_malha_municipal_1970.zip
/data-raw/historical_state_muni_1872_1991/1970/06_litigio_1970.zip
/data-raw/historical_state_muni_1872_1991/1980/01_capital_federal_1980.zip
/data-raw/historical_state_muni_1872_1991/1980/02_capital_estadual_1980.zip
/data-raw/historical_state_muni_1872_1991/1980/03_sede_municipal_1980.zip
/data-raw/historical_state_muni_1872_1991/1980/04_limite_estadual_1980.zip
/data-raw/historical_state_muni_1872_1991/1980/05_malha_municipal_1980.zip
/data-raw/historical_state_muni_1872_1991/1980/06_litigio_1980.zip
/data-raw/historical_state_muni_1872_1991/1991/01_capital_federal_1991.zip
/data-raw/historical_state_muni_1872_1991/1991/02_capital_estadual_1991.zip
/data-raw/historical_state_muni_1872_1991/1991/03_sede_municipal_1991.zip
/data-raw/historical_state_muni_1872_1991/1991/04_limite_municipal_1991.zip
/data-raw/historical_state_muni_1872_1991/1991/05_malha_municipal_1991.zip
/data-raw/historical_state_muni_1872_1991/1991/06_litigio_1991.zip
/data-raw/historical_state_muni_1872_1991/.Rhistory
inst/doc
Meta
/man/figures/Thumbs.db

# Python Ignores
python-package/.env/
python-package/notebooks/

*.pyc

# VSCODE
*.vscode
/r-package/.Rhistory
__pycache__
.pytest_cache
.DS_Store

/r-package/.Rhistory
/r-package/.Rhistory

.ipynb_checkpoints

python-package/dist
*.egg-info
python-package/master-README.md
python-package/.coverage
