on:
  push:
    paths:
      - python-package/**
    branches:
      - main
      - master
      - dev
  pull_request:
    paths:
      - python-package/**
    branches:
      - main
      - master
      - dev

name: Python-CMD-check

jobs:
  Python-CMD-check:
    runs-on: ${{ matrix.os }}

    name: ${{ matrix.os }} (${{ matrix.python-version }})

    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, macOS-latest, windows-latest]
        python-version: ["3.9", "3.10", "3.11"]
        # Python 3.8 support ends in 2024-10
        # Python 3.12 support starts in 2023-10
        # Check Python maintenance status at: https://www.python.org/downloads/

    env:
      GITHUB_PAT: ${{ secrets.GITHUB_TOKEN }}

    steps:
      - name: Check out geobr
        uses: actions/checkout@v3

      - name: Setup Python ${{ matrix.python-version }}
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}
          cache: "pip"

      - name: Install uv
        run: |
          python -m pip install --upgrade pip
          curl -LsSf https://astral.sh/uv/install.sh | sh

      - name: Install dependencies with uv
        run: uv sync
        working-directory: python-package

      - name: Run tests with uv
        run: |
          uv run pytest -n auto ./tests
        working-directory: python-package

      - name: Upload check results
        if: always()
        uses: actions/upload-artifact@v3
        with:
          name: test-results
          path: python-package/test-results.txt
          if-no-files-found: warn
